<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="Persona">
    
    <resultMap id="result" type="Persona">
        <result property="cedula" column="cedula"/>
        <result property="nombres" column="nombres"/>
        <result property="foto" column="foto" typeHandler="org.apache.ibatis.type.ByteArrayTypeHandler"/>
    </resultMap>
    
    
  <select id="selectBlog" resultMap="result">
    select * from Persona;
  </select>
  
  
    <insert id="insert" parameterType="Persona">
        INSERT INTO Persona(cedula,nombres,foto) VALUES (#{cedula},#{nombres},#{foto});
    </insert>
  
</mapper>
